{% extends '::frontend.html.twig' %}
{% block contenido %}
    {% include "FrontBundle:Default:_slider.html.twig" %}
    <section class="featured-listing">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-section-2 text-center">
                        <h2>Featured Cars Listing</h2>
                        <span>Vivamus gravida magna massa in cursus mi vehicula at. Nunc sem quam suscipit</span>
                        <div class="dec"><i class="fa fa-car"></i></div>
                        <div class="line-dec"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="featured-cars">
                    <div class="featured-item col-md-15 col-sm-6">
                        <img src="{{ asset('front/assets/images/01-featured.jpg') }}" alt="">
                        <div class="down-content">
                            <a href="single-list.html"><h2>Mercedes Amg 6.3</h2></a>
                            <span>52,000</span>
                            <div class="light-line"></div>
                            <p>Donec eu nullas sapien pretium volutpat vel quis turpis. Donec vel risus lacinia euismod urna vel fringilla justo.</p>
                            <div class="car-info">
                                <ul>
                                    <li><i class="icon-gaspump"></i>Diesel</li>
                                    <li><i class="icon-car"></i>Sport</li>
                                    <li><i class="icon-road2"></i>12,000</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="featured-item col-md-15 col-sm-6">
                        <img src="{{ asset('front/assets/images/02-featured.jpg') }}" alt="">
                        <div class="down-content">
                            <a href="single-list.html"><h2>vw golf VII GTI</h2></a>
                            <span>30,000</span>
                            <div class="light-line"></div>
                            <p>Donec eu nullas sapien pretium volutpat vel quis turpis. Donec vel risus lacinia euismod urna vel fringilla justo.</p>
                            <div class="car-info">
                                <ul>
                                    <li><i class="icon-gaspump"></i>Diesel</li>
                                    <li><i class="icon-car"></i>Sport</li>
                                    <li><i class="icon-road2"></i>12,000</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="featured-item col-md-15 col-sm-6">
                        <img src="{{ asset('front/assets/images/03-featured.jpg') }}" alt="">
                        <div class="down-content">
                            <a href="single-list.html"><h2>mercedes amg gt</h2></a>
                            <span>65,000</span>
                            <div class="light-line"></div>
                            <p>Donec eu nullas sapien pretium volutpat vel quis turpis. Donec vel risus lacinia euismod urna vel fringilla justo.</p>
                            <div class="car-info">
                                <ul>
                                    <li><i class="icon-gaspump"></i>Diesel</li>
                                    <li><i class="icon-car"></i>Sport</li>
                                    <li><i class="icon-road2"></i>12,000</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="featured-item col-md-15 col-sm-6">
                        <img src="{{ asset('front/assets/images/04-featured.jpg') }}" alt="">
                        <div class="down-content">
                            <a href="single-list.html"><h2>bmw m4 430D</h2></a>
                            <span>64,000</span>
                            <div class="light-line"></div>
                            <p>Donec eu nullas sapien pretium volutpat vel quis turpis. Donec vel risus lacinia euismod urna vel fringilla justo.</p>
                            <div class="car-info">
                                <ul>
                                    <li><i class="icon-gaspump"></i>Diesel</li>
                                    <li><i class="icon-car"></i>Sport</li>
                                    <li><i class="icon-road2"></i>12,000</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="featured-item col-md-15 hidden-sm">
                        <img src="{{ asset('front/assets/images/05-featured.jpg') }}" alt="">
                        <div class="down-content">
                            <a href="single-list.html"><h2>audi a6 s-line</h2></a>
                            <span>48,000</span>
                            <div class="light-line"></div>
                            <p>Donec eu nullas sapien pretium volutpat vel quis turpis. Donec vel risus lacinia euismod urna vel fringilla justo.</p>
                            <div class="car-info">
                                <ul>
                                    <li><i class="icon-gaspump"></i>Diesel</li>
                                    <li><i class="icon-car"></i>Sport</li>
                                    <li><i class="icon-road2"></i>12,000</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}